@charset "UTF-8";

@font-face {
  font-family: "cBox";
  font-display: swap;
  src: url("../fonts/C_BOX.woff") format("woff"), url("../fonts/C_BOX.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #525659;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__inner {
  width: 100%;
  height: 30px;
  background-color: #185ABD;
}

.header__inner .title {
  color: #fff;
  text-align: center;
  padding-top: 9px;
}

.sidebar__menu {
  background-color: #323639;
  max-height: calc(100vh - 80px);
  margin-top: 20px;
  margin-left: 15px;
  position: fixed;
  border-radius: 4px;
  overflow: hidden;
  max-width: 200px;
}

.menu {
  padding: 20px 0 20px 20px;
}

.list {
  margin-left: 10px;
  line-height: 1.2;
}

.list__item {
  list-style-type: disc;
  color: #fff;
  margin-bottom: 10px;
}

.list-sources {
  margin-left: 10px;
  line-height: 1.2;
}

.list-sources a {
  color: #000;
}

.list-sources__item {
  list-style-type: disc;
  color: #000;
  margin-bottom: 10px;
}

.arrow {
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.arrow.active {
  -webkit-transform: translateX(10px) rotate(90deg);
      -ms-transform: translateX(10px) rotate(90deg);
          transform: translateX(10px) rotate(90deg);
}

.outgoing--list {
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  height: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.outgoing--list.visible {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.main {
  background: #fff;
  width: 65%;
  max-width: 65%;
  margin: 20px auto;
  padding: 4%;
  overflow-x: hidden;
  border-radius: 4px;
}

.main__text {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  line-height: 1.3;
  text-align: justify;
}

.main__text p {
  padding-bottom: 15px;
  text-indent: 15px;
}

.main .image {
  font-style: italic;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
  font-weight: bold;
}

.main .image:before {
  content: '•';
}

.main .image img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 15px;
}

.main .bold {
  font-weight: bold;
}

.chapterTitle {
  position: relative;
  padding: 10px;
  margin: 0px 0 10px 10px;
  color: #000;
  font-size: calc(16px + 14 * ((100vw - 320px) / 1600));
}

.chapterTitle:before {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
}

.quiz {
  margin: 0 auto;
  width: 100%;
}

.quiz-questions,
.quiz-indicator,
.quiz-results {
  margin-bottom: 20px;
}

.quiz-questions-item,
.quiz-results-item {
  margin-bottom: 40px;
}

.quiz-questions-item__question,
.quiz-results-item__question {
  margin-bottom: 010px;
  font-size: calc(20px + 6 * ((100vw - 320px) / 1600));
  font-style: bold;
}

u {
  text-decoration: none;
}

.quiz-results {
  display: none;
}

.btn-next {
  width: 70px;
  height: 20px;
}

.btn-restart {
  display: none;
  width: 70px;
  height: 20px;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden {
  display: none;
}

.results--visible,
.btn-restart--visible {
  display: block;
}

.answer--invalid {
  color: red;
}

.answer--valid {
  color: green;
}

.centered-text {
  text-align: center;
  font-size: calc(20px + 6 * ((100vw - 320px) / 1600));
  font-weight: bold;
  margin-top: 20px;
}

.centered-text.about {
  margin-top: 20%;
}

.quiz-questions-item__answers li {
  margin-bottom: 10px;
}

.quiz-results-item__answers li {
  margin-bottom: 10px;
  list-style: disc;
}

.subtitle {
  font-size: calc(20px + 6 * ((100vw - 320px) / 1600));
  font-weight: bold;
  margin-top: 20px;
}

.power {
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  margin-bottom: 10px;
}

.power-up {
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  position: absolute;
}

.footer {
  max-width: 100%;
  width: 100%;
  background-color: #323639;
  height: 50px;
  padding: 20px 0 20px 0;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}